<template>
    <v-container fluid fill-height>
        <v-row justify="center">
            <v-card v-if="!loading" shaped style="width: 500px; max-width: 500px">
                <v-img :src="post.imageUrl">
                    <template v-slot:placeholder>
                        <v-row
                                class="fill-height ma-0"
                                align="center"
                                justify="center"
                        >
                            <v-progress-circular
                                    indeterminate
                                    color="grey lighten-5"
                            />
                        </v-row>
                    </template>
                </v-img>

                <v-divider/>

                <v-card-text>
                    <v-text-field label="Title" :value="post.title" prepend-icon="title" readonly />
                    <v-textarea auto-grow rows="2" label="Description" :value="post.description || 'Not provided'" prepend-icon="description" readonly />
                    <v-text-field label="Date" :value="post.date" prepend-icon="today" readonly />
                </v-card-text>

                <v-divider/>

                <v-card-actions>
                    <v-spacer />
                    <v-btn text color="primary" to="/list/">
                        <v-icon left>arrow_left</v-icon>back
                    </v-btn>
                </v-card-actions>
            </v-card>

            <v-card  v-else shaped style="width: 500px; max-width: 500px">
                <v-skeleton-loader
                        :attr="{boilerplate: true}"
                        type="image, list-item@3, actions"
                />
            </v-card>
        </v-row>
    </v-container>
</template>

<script>
    import dayjs from 'dayjs'

    export default {
        name: "ListItemView",
        props: {
            id: String
        },
        data: () => ({
            loading: false
        }),
        async created() {
            this.loading = true;

            try {
                await this.$store.dispatch('fetchPost', this.id);
            } catch (error) {
                console.log(error);
            }

            this.loading = false;
        },
        computed: {
            post() {
                return this.$store.state.post /*this.$store.getters.getPost(this.id)*/ || {}
            },

            date() {
                return dayjs(this.post.date).format('D MMMM YYYY')
            }
        }
    }
</script>

<style scoped>

</style>