<template>
    <v-container fluid>
        <v-row v-if="!loading">
            <v-col sm="12" md="4" lg="3" v-for="(post, index) in posts" :key="index">
                <v-card shaped>
                    <v-img height="300" :src="post.imageUrl">
                        <template v-slot:placeholder>
                            <v-row
                                    class="fill-height ma-0"
                                    align="center"
                                    justify="center"
                            >
                                <v-progress-circular
                                        indeterminate
                                        color="grey lighten-5"
                                />
                            </v-row>
                        </template>
                    </v-img>

                    <v-divider />

                    <v-card-title>
                        <div class="body-1">{{post.title}}</div>
                    </v-card-title>

                    <v-divider />

                    <v-card-actions>
                        <v-spacer />
                        <v-btn text color="primary" :to="`/list/${post.id}`">
                            details<v-icon right>arrow_right</v-icon>
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-col>
        </v-row>

        <v-row v-else>
            <v-col sm="12" md="4" lg="3" v-for="(post, index) in 12" :key="index">
                <v-card shaped>
                    <v-skeleton-loader
                            class="mx-auto"
                            type="image, list-item, actions"
                    />
                </v-card>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
    export default {
        name: 'ListView',
        data: () => ({
            loading: false
        }),
        async created() {
            this.loading = true;

            try {
                await this.$store.dispatch('fetchPosts');
            } catch (error) {
                console.log(error);
            }

            this.loading = false;
        },
        computed: {
            posts() {
                return this.$store.state.posts
            }
        }
    }
</script>
