<template>
    <v-app>
        <v-app-bar dense app>
            <v-img class="mr-3" max-width="30" :src="require('@/assets/logo.png')" />
            <v-app-bar-title>VueJs test job</v-app-bar-title>

            <v-spacer />

            <v-btn @click="toggleTheme" icon >
                <v-icon>{{isDark ? 'light_mode' : 'mode_night'}}</v-icon>
            </v-btn>
        </v-app-bar>

        <v-main>
            <router-view/>
        </v-main>
    </v-app>
</template>

<script>
    export default {
        name: 'App',
        computed: {
            isDark () {
                return this.$vuetify.theme.dark
            }
        },
        methods: {
            toggleTheme () {
                this.$vuetify.theme.dark = !this.$vuetify.theme.dark
            }
        }
    };
</script>
